<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BookMapper">

    <select id="selectAll" resultType="com.example.entity.Book">
        select book.*, type.name as typeName  from book
        left join type on book.type_id = type.id
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="img != null"> and img like concat('%', #{img}, '%')</if>
            <if test="name != null"> and book.name like concat('%', #{name}, '%')</if>
            <if test="price != null"> and price = #{price}</if>
            <if test="isbn != null"> and isbn like concat('%', #{isbn}, '%')</if>
            <if test="author != null"> and author like concat('%', #{author}, '%')</if>
            <if test="publisher != null"> and publisher like concat('%', #{publisher}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Book">
        select * from book where id = #{id}
    </select>

    <delete id="deleteById">
        delete from book where  id = #{id}
    </delete>

</mapper>